html{
	background-color: rgb(255, 247, 236);
}

body{
	border: 3px solid;
	border-color: rgb(255, 225, 154);
	margin: auto;
	padding: 50px;
	width: 800px;
	color: gray;
}

h1{
	text-align: center;
}

hr{
	border-color: rgb(255, 255, 154);
}

table{	
	border: 1px solid;
	background-color: white;
	border-color: rgb(255, 225, 154);
	border-collapse: collapse;
}

td&th{
	border-color: rgb(255, 225, 154);
}

th{
	background-color: rgb(255, 241, 209);
}

